.skeleton {
    margin-top: 30px;
}

.errorCard {
    width: 100%;
    height: 500px;
}

.Card {
    margin-bottom: 15px;
    padding: 0 10px;
    width: 100%;
    overflow-x: auto;
}

.content {
    box-shadow: 0 5px 10px 0 rgb(34 60 80 / 11%);
}

.days {
    flex: 31;
    border-bottom: 1px solid var(--gray-color);
}

.item {
    flex: 1;
    text-align: center;
    min-width: var(--table-item-width);
    height: var(--table-item-height);
    background-color: var(--gray-light-color);
    font: var(--font-m-bold);
    transition: background-color 0.1s;
}

.odd {
    background-color: white;
    transition: background-color 0.1s;
}

.visible {
    border-radius: 5px 5px 0 0;
}

.rows {
    flex: 31;
    z-index: 1000;
    transition: background-color 0.1s;
}

.rows:hover {
    background-color: var(--secondary-color-super-light);

    .item {
        background-color: var(--secondary-color-super-light);
    }

    .odd {
        background-color: var(--secondary-color-super-light);
    }

    .visible {
        background-color: var(--secondary-color-super-light);
    }
}

.weekend {
    color: var(--red-dark);
    background-color: var(--red-super-light) !important;
    border-right: 1px solid var(--bg-color);
    border-left: 1px solid var(--bg-color);
}

.vacationsOnYearWrapper {
    position: absolute;
    width: 100%;
}

.namesColumn {
    margin-top: var(--table-item-height);
}

.active {
    cursor: pointer;
    z-index: 1000;
    flex: 1;
    text-align: center;
    min-width: var(--table-item-width);
    height: var(--table-active-item-height);
    border-bottom: 1px solid var(--green-color);
    border-top: 1px solid var(--green-color);
    background-color: var(--green-light-color);
    font: var(--font-m);
}

.pending {
    background-color: var(--yellow-light-color);
}

.bordered {
    border-radius: 5px;
    border: 1px solid var(--green-color);
}

.end {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid var(--green-color);
}

.daysCount {
    opacity: 0.5;
    padding-left: 10px;
    position: absolute;
    width: fit-content;
}

.start {
    border-radius: 5px 0 0 5px;
    z-index: 2000;
    border-left: 1px solid var(--green-color);
}

.name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: var(--table-item-height);
    font: var(--font-s);
    border-bottom: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
}

.year {
    .rows {
        flex: 12;
    }

    .active {
        min-width: 0;
    }
}

.divisions {
    width: 100%;
}
