.formWrap {
    width: 100%;
    padding: 20px 30px;
}

.btns {
    margin-top: 50px;
}

.usersSelect {
    width: 100%;
}

.inputsContent {
    margin-top: 20px;
    flex: 10;
}

.numberInput {
    flex: 2;
    width: 100%;
}

.nameInput {
    flex: 8;
    width: 100%;
}

.loading {
    height: 50vh;
}
