.AuthPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    background-color: var(--sidebar-bg);
}

.card {
    width: 35%;
    min-height: 45%;
    min-width: 45%;
    font: var(--font-s);
    padding: 30px 50px;
}
