.formWrap {
    width: 100%;
    padding: 20px 30px;
}

.inputWrap {
    margin-top: 20px;
    flex: 10;
}

.dateInputItem {
    flex: 6;
}

.daysCountInputItem {
    flex: 2;
}

.datePicker {
    width: 100%;
}

.input {
    width: 100%;
}

.inputItem {
    flex: 3;
}

.select {
    width: 100%;
}

.btns {
    margin-top: 50px;
}

.finalBalance {
    margin-top: 16px;
}

.loading {
    height: 50vh;
}
