.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: #f9fbfa;

    // background: var(--bg-color);
    position: relative;
    padding-top: 10px;

    // transition: width 0.2s;
}

.sidebarHeader {
    // position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px 0 0;
    justify-content: flex-end;
}

.hr {
    margin: 30px 0;
    opacity: 0.5;
}

.collapsed {
    width: 75px;

    .logo {
        display: none;
    }

    .sidebarHeader {
        justify-content: center;
    }
}

.items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
    margin-top: 15px;
}
