.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--sidebar-bg);

    // background: var(--bg-color);
    position: relative;
    padding-top: 10px;
    flex-shrink: 0;
}

.sidebarHeader {
    // position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px 0 0;
    justify-content: flex-end;
}

.hr {
    margin: 30px 0;
}

.collapsed {
    width: 75px;

    .logo {
        display: none;
    }

    .sidebarHeader {
        justify-content: center;
    }
}

.items {
    margin-bottom: 50px;
    margin-top: 15px;
}
