.Icon {
    padding: 5px;
    border-radius: 50%;
    z-index: 1000;
    transition: all 0.1s ease-in-out;
}

.Icon:hover {
    opacity: 0.3;
    background-color: var(--bg-color);
}

.cliked {
    cursor: pointer;
}
