.formWrap {
    width: 100%;
    padding: 30px 50px;
}

.inputsWrap {
    flex: 2;
    width: 100%;
}

.inputsArea {
    flex: 1;
}

.datePicker {
    width: 100%;
}

.selectDivision {
    width: 100%;
}

.btns {
    margin-top: 50px;
}

.loading {
    height: 50vh;
}
