.formWrap {
    width: 100%;
    padding: 20px 30px;
}

.skeleton {
    width: 100%;
}

.inputWrap {
    margin-top: 40px;
    flex: 10;
}

.dateInputItem {
    flex: 6;
}

.daysCountInputItem {
    flex: 2;
}

.datePicker {
    width: 100%;
}

.input {
    width: 100%;
}

.inputItem {
    flex: 3;
}

.select {
    width: 100%;
}
